.about {  
  background-color: black;
  background-image: linear-gradient(black, #333333);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.about > h2 {
  color: white;
  font-size: 2rem;
  font-family: 'Star Jedi', sans-serif;  
  padding-bottom: 3rem;
}

.about > span {
  color: white;
  padding-bottom: 4rem;
  max-width: 60%;
}

.about > img {
    max-width: 100%;
}

@media (min-width: 768px) {
  .about > h2 {    
    padding-bottom: 1rem;
  }   

  .about > span {    
    padding-bottom: 3rem;    
  }

  .about > img {
    width: 75%;
  }
}