.footer-container {
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-container > .icons-container {  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
  background-color: black;
}

.footer-container > .icons-container > .footer-icon{  
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: #1a1a1a;
  color: #757373;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.footer-container > .copyright {
  color: gray;
  margin-top: 1rem;  
  padding-bottom: 4rem;
  text-align: center;
}

@media (max-width: 576px) {
  .footer-container {    
    padding: 0;
  }
  .footer-container > .icons-container {      
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

