/* Small Devices - Mobile Only*/
/* @media (max-width: 576px) {

} */

/* Mediun Devices - Tablet*/
/* @media (min-width: 641px) {
  
} */

/* Large Devices - Desktop */
/* @media (min-width: 992px) {
  
} */

/* Extra Large Devices - Desktop */
/* @media (min-width: 1200px) {
  
} */

*  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;  
  width: 100%;
}