.sceneries {
  padding: 10rem 6rem;
  background-color: white;
}

.sceneries > .scenery > .scenery-text {
  display: flex;
  flex-direction: column;  
  justify-content: center;
}

.sceneries > .scenery > .scenery-img {
  width: 45rem;  
}

.sceneries > .scenery > .scenery-text,
.sceneries > .scenery > .scenery-img {
  height: 30rem;
}


.sceneries > .scenery > .scenery-text > h2 {  
  font-family: 'Star Jedi', sans-serif;
  margin-bottom: 1rem;
}

.sceneries > .scenery > .scenery-text > p {
  color: #a0a0a0;
}

.sceneries > .scenery > .scenery-text > h2,
.sceneries > .scenery > .scenery-text > p {
  padding: 0 3rem;
}

.sceneries > .scenery.shoreline > .scenery-img,
.sceneries > .scenery.misty > .scenery-img {
  float: left;
}

.sceneries > .scenery.mountains > .scenery-img {
  float: right;
}

.sceneries > .scenery.misty > .scenery-text,
.sceneries > .scenery.mountains > .scenery-text {
  background-color: black;
  color: white;  
}

.sceneries > .scenery.misty > .scenery-text::after,
.sceneries > .scenery.mountains > .scenery-text::after {
  content: "";  
  border-bottom: 0.25rem solid #f5de13;
  width: 8rem;    
  margin-top: 1rem;       
}

@media (max-width: 641px) {
  .sceneries {
    padding: 1rem;
  }
}

@media (min-width: 641px) and (max-width: 992px) {  
  .sceneries {
    padding: 3rem;
  } 
}

@media (max-width: 992px) {  
  .sceneries > .scenery {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .sceneries > .scenery.shoreline {
    background-color: white;
  }
  
  .sceneries > .scenery > .scenery-img {
    width: 100%;
    height: 21rem;
  }
  
  .sceneries > .scenery > .scenery-text {
    align-items: center;
  }

  .sceneries > .scenery > .scenery-text > p {
    padding-top: 1rem;
    text-align: center;
  }

  .sceneries > .scenery.shoreline > .scenery-text::after {  
    content: "";  
    border-bottom: 0.25rem solid #f5de13;
    width: 8rem;    
    margin-top: 1rem;       
  }
}

@media (min-width: 992px) and (max-width: 1200px){  
  .sceneries {
    padding: 1rem;
  }
}

@media (min-width: 992px) {  

  .sceneries > .scenery.misty > .scenery-text {
    align-items: flex-start;
  }
  
  .sceneries > .scenery.mountains > .scenery-text {
    align-items: flex-end;
  }

  .sceneries > .scenery.mountains > .scenery-text > p {
    text-align: right;
  }

  .sceneries > .scenery.shoreline > .scenery-text::before {
    content: "";  
    border-left: 0.5rem solid #f5de13;
    height: 10rem;
    position: absolute;  
  }

  .sceneries > .scenery.misty > .scenery-text::after {
    margin-left: 3rem;  
  }
  
  .sceneries > .scenery.mountains > .scenery-text::after {  
    margin-right: 3rem;  
  }
}