.subscribe {  
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('../assets/images/bg-signup.jpg');
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;  
}

.subscribe > .subscribe-icon {
  color: white;
  font-size: 2rem;
}

.subscribe > span {
  color: white;
  font-size: 2.5rem;
}

.subscribe > .subscribe-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.subscribe > .subscribe-form > .subscribe-input {  
  height: 4rem;
  width: 38rem;
  text-align: initial;
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

.subscribe > .subscribe-form > .subscribe-btn {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #f5de13;
  width: 10rem;
  height: 4rem;
  cursor: pointer;
}

@media (max-width: 576px) {
  .subscribe > span {   
    margin-top: 1rem; 
    font-size: 1.5rem;
    max-width: 90%;
    text-align: center;
  }

  .subscribe > .subscribe-form > .subscribe-input {      
    width: 90vw;
    height: 2.5rem;
    text-align: center;
    font-size: 1rem;    
    padding: 1rem 2rem;
    margin-bottom: 1rem;    
  }
}

@media (max-width: 992px) {
  .subscribe > .subscribe-form {    
    flex-direction: column;
  }
}